body {
    width: 21cm;
    margin-left: auto;
    margin-right: auto;
    border: 0.5mm solid black;
}

code {
    white-space: pre;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.codeblock {
   display: block;
   padding: 0ex 4ex;
   background-color: lightgray;
}